.nav {
    position: relative;
    width: auto;
    height: 100px;
    background: #3d9cad;
    padding-right: 50px;
    padding-left: 50px;
    border: 10px solid rgb(121, 71, 15);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;

    color: #16c241;
}

#nav-item1 {
    float: left;
    padding: 10px;
}

#nav-item2 {
    float: right;
    padding: 10px;
}

html {
    
    width: 99vw;
    height: 100vh;   

    background-color: #384062;
    background-size: auto;
}

#announcement {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 45px;
    text-align: left;
    margin-left: 20px;
    color: rgb(25, 153, 104);
}

h1 {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    text-align: left;
    color: white;
}

#game-details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 20px auto;
    padding: 0 20px;
}

#base-details{
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    text-align: left;
    color: rgb(46, 155, 182);
    border: 5px solid rgb(199, 179, 179);
    padding: 30px;
}

#time-to-beat-details {
    margin: 10px;
}

article {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    text-align: left;
    padding: 20px;
    color: rgb(46, 155, 182);
}

#trailer {
    display: grid;
    grid-template-rows: 1fr 3fr;
    padding: auto auto;
    margin: auto auto;
    justify-content: center;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: white;
}

.underline {
    text-decoration: underline;
}

img {
    width: 800px;
    height: 800px;
}