{% extends "base.html" %}
{% block content %}
<main>
    <h2>Search by name</h2>
    <form action="index3" id="first-form" method="POST">
        <input id="search-name" placeholder="Pokemon Sword and Shield" name="chosen_game">
        <br>
        <button class="button" type="submit" name="submit_btn" value="by name">Submit</button>
    </form>
    <h2>OR</h2>
    <h2>Search by filters</h2>
    <form action="index3" id="second-form" method="POST">
        <h3>OpenCritic</h3>
        <span>Min: <input class="input" placeholder="75" name="min_openCritic"></span>
        <span>Max: <input class="input" placeholder="85" name="max_openCritic"></span>
        <h3>HowLongToBeat</h3>
        <span>Min: <input class="input" placeholder="7" name="min_howLongToBeat"></span>
        <span>Max: <input class="input" placeholder="14" name=max_howLongToBeat></span>
        <br>
        <button type="submit" class="button" name="submit_btn" value="by filters">Submit</button>
    </form>
</main>
<div style=background-color:black;>
    <footer>
        <strong>Built Using</strong><br>OpenCritic API and HowLongToBeat API
    </footer>
</div>
{% endblock %}