<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TooManyGames</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <header>
        <nav class="nav">
            <a id="nav-item1" href="index.html">TooManyGames</a>
            <a id="nav-item2" href="index2.html">About</a>
        </nav>
    </header>
    <h1><strong>About this site</strong></h1>
    <p>
        Did you ever buy a "<i>must play</i>", super hyped game on day one, only to find out it takes about 200 hours to beat,
        which you definitely
        didn't have the time for? <br> Or maybe you paid 60$ to play the game people won't shut up about, and realised
        you can beat it in one sitting,
        and it wasn't worth all that hard earned money. And what about all those hidden-gems with an average review
        score of 85 or lower? we all know
        we should play the next GTA or Legend of Zelda, but there are so many amazing games that slip under the radar
        all the time.
        <br><br>
        If you found yourself nodding your head while reading, this site could make your life a little bit easier.<br>
        Here you can search for games that suite you both with their <a class="about-links" href="https://opencritic.com/">quality</a>, and the <a class="about-links" href="https://howlongtobeat.com/">time</a> 
        it takes to beat them. you can also search for any game you have in mind and enjoy the comfort of having all of this info and more in one single place for once :)
    </p>
</body>

</html>